<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns 		= "https://www.w3.org/ns/widgets"
		xmlns:gap	= "https://phonegap.com/ns/1.0"
		id			= "com.pharmaven"
		version		= "2.0.0">

	<name> Pharmaven </name>

	<description>
		A pharmaceutical inventory management system, keeping records of item in stock, out of stock, daily record sales
	</description>

	<author href="http://mdjibril.com" email="muhammadjibrildauda@gmial.com">
		Jibril D Muhammad
	</author>
	
	<content src="data/main.html" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="permissions" value="none" />
	<preference name="Splashscreen" value="screen" />
	<preference name="SplashScreenDelay" value="5000" />
  	<preference name="fullscreen" value="true" />
  	<preference name="KeepRunning" value="true"/>
    
    <!-- Plugins -->
	<plugin name="cordova-plugin-splashscreen" source="npm" spec="5.0.2" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-contacts" source="npm" spec="~2.0.1" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    
    <platform name="android">
        
        <icon src="res/icon.png" />
        
        <splash src="res/splash.png" />
    </platform>

		<access origin="*"/>
		<access origin="tel:*" launch-external="yes"/>
	  	<access origin="mailto:*" launch-external="yes" />
	  	<access origin="http://*" launch-external="yes"/>
	  	<access origin="https://*" launch-external="yes"/>   

	    <allow-intent href="tel:*" />
	    <allow-intent href="mailto:*" />
		<allow-intent href="http://*/*" />
	    <allow-intent href="https://*/*" />
	    <platform name="android">
	        <allow-intent href="market:*" />
	    </platform>
		
</widget>